.media-item {
    padding: 5px;
    border: 0.3em solid lightgray;
    box-shadow: 0 4px 8px salmon;
    border-radius: 2%;
    max-width: 400px;
    margin: 10px 5px;
    .image-container {
        img {
            margin: 10px;
        }
    }
    .media-title,
    input {
        height: 20vh;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: inline-axis;
        width: 100%;
        font-weight: bold;
    }
}

.list-summary {
    box-shadow: 0 4px 8px salmon;
    transition: box-shadow 0.3s ease;
    padding: 1rem;
    padding-bottom: 3rem;
    margin: 3rem 0;
    .category {
        text-transform: capitalize;
    }
}